:root{
  --background: rgb(148, 146, 160)
}

header{
  text-align: center;
  height: 100px;
  background-color: lightblue;
  color: white;
  margin-bottom: 20px;
}
h2{
  font-weight: bolder;
}

input{
  height: 400px;
}
.current-weather{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  height: 300px;
  margin-left: 15px;
  background-color: var(--background);
  color: rgb(12, 13, 14);
  font-size: x-large;
}
.current-weather strong{
  font-size: xx-large;
}

img{
 height: 50px;
 width: 50px;
}
h2, #input-bar, #search-button{
  margin-left: 15px;
}

#input-bar, #search-button{
  border-radius: 10px;
}


.card-section{
  padding: 0;
}

.card{
  height: 300px;
  margin: 15px;
  background-color: rgb(148, 146, 160);
  color: rgb(12, 13, 14);
  font-size: x-large;
}
.card p{
  margin: 5px
}

li{
  height: 100px;
  width: 100%;
  color: white;
  background-color: rgb(12, 31, 206);
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 10px;

}